<section id="newsletter-area" class="bg" style="background-image: url('/assets/images/newsletter.webp'), url('/assets/images/newsletter.jp2');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="newsletter-box">
                    <div class="heading text-center">
                        <h5 class="text-light">STAY UP TO DATE</h5>
                        <h2 class="text-white">Subscribe To Our Newsletter</h2>
                        <p class="text-white">Subscribe now to stay up to date with 92Crew’s specials, promotions and news. Your email address will not be shared with third parties.</p>
                    </div>
                    <div class="newsletter-form">
                        <form action="https://92crew.us19.list-manage.com/subscribe/post" id="mc-newsletter" name="newsletter" method="post">
                            <input type="hidden" name="u" value="79bcda483916cdf77d5f395de">
			    <input type="hidden" name="id" value="1fa705e10c">
			    <div class="form-group">
                                <input type="email" class="form-control" id="MERGE0" name="MERGE0" placeholder="Enter your email*" required>
                            </div>
                            <button type="submit">Subscribe Now</button>
                        </form>
                        <div id="response"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
