<!--start product area-->
<section id="product-area" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <!--start heading-->
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading text-center">
                    <h5>OUR PRODUCTS</h5>
                    <h2>Join The 92Crew</h2>
                    <p>An exclusive collection of 92Crew attire, featuring athletic t-shirts for men and women. Order now to support a great company that will support you.</p>
                </div>
            </div>
            <!--end heading-->
        </div>
        <div class="row">
		{% for product in collections.product %}
        {% if product.data.featured %}
		        			<div class="col-lg-4 col-md-6">
            			<div class="prod-single text-center">
							 <img loading="lazy" src="/assets/images/{{ product.data.image }}.webp" onerror="this.src='/assets/images/{{ product.data.image }}.jp2'" class="img-fluid" alt="{{ product.data.title }}" />
        <div class="prod-info">
                    			<h4>{{ product.data.title }}</h4>
                    			<h5>${{	product.data.price }}</h5>
                    			<div class="hero-btn" style="margin-top: 0px;">
	<a id="buy-btn-hero" href="https://www.amazon.ca/s/?keywords=athletic+tape&ie=UTF8&field-asin=B085W6FC38&rh=i:aps,ssx:relevance" class="buy-btn">BUY ON AMAZON</a>
        	</div>
                			</div>
            			</div>
        			</div>
		{% endif %}
		{% endfor %}
        	{% for product in collections.product %}
        		{% unless product.data.featured %}
        			<!--start product single-->
        			<div class="col-lg-4 col-md-6">
            			<div class="prod-single text-center">
							 <img loading="lazy" src="/assets/images/{{ product.data.image }}.webp" onerror="this.src='/assets/images/{{ product.data.image }}.jp2'" class="img-fluid" alt="{{ product.data.title }}" />
                			<!--picture {{ product.data.image }} --picture class="img-fluid" --alt {{ product.data.title }} --img loading="lazy"-->
                			<div class="prod-info">
                    			<h4>{{ product.data.title }}</h4>
								<h5>${{	product.data.price }}</h5>
								<select id="size-{{ product.data.identifier }}" style="height: 30px; width: 100px;">
									<option value="{{ product.data.medium-sku }}">Medium</option>
									<option value="{{ product.data.small-sku }}">Small</option>
									<option value="{{ product.data.large-sku }}">Large</option>
								</select>
								<div class="hero-btn" style="margin-top: 0px;">
									
						<a id="{{ product.data.identifier }}" class="buy-btn" role="link">BUY NOW</a>
						<div id="error-message"></div>
                				</div>
                			</div>
            			</div>
        			</div>
        			<!--end product single-->
            	{% endunless %}
        	{% endfor %}
		</div>
    </div>
</section>
<!--end product area-->
