<!--start product area-->
<section id="product-area" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <!--start heading-->
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading text-center">
                    <h5>OUR PRODUCTS</h5>
                    <h2>Join The 92Crew</h2>
                    <p>An exclusive collection of 92Crew attire, featuring athletic t-shirts for men and women. Order now to support a great company that will support you.</p>
                </div>
            </div>
            <!--end heading-->
        </div>
        <div class="row">
		{% for product in collections.product %}
        {% if product.data.featured %}
		        			<div class="col-lg-4 col-md-6">
            			<div class="prod-single text-center">
							 <img loading="lazy" src="/assets/images/{{ product.data.image }}.webp" onerror="this.src='/assets/images/{{ product.data.image }}.jp2'" class="img-fluid" alt="{{ product.data.title }}" />
        <div class="prod-info">
                    			<h4>{{ product.data.title }}</h4>
                    			<h5>${{	product.data.price }}</h5>
                    			<div class="hero-btn" style="margin-top: 0px;">
	<a id="buy-btn-hero" href="#0" data-target="simpleModal_1" data-toggle="modal" class="buy-btn">ADD TO CART</a>
        	</div>
                			</div>
            			</div>
        			</div>
		{% endif %}
		{% endfor %}
        	{% for product in collections.product %}
        		{% unless product.data.featured %}
        			<!--start product single-->
        			<div class="col-lg-4 col-md-6">
            			<div class="prod-single text-center">
							 <img loading="lazy" src="/assets/images/{{ product.data.image }}.webp" onerror="this.src='/assets/images/{{ product.data.image }}.jp2'" class="img-fluid" alt="{{ product.data.title }}" />
                			<!--picture {{ product.data.image }} --picture class="img-fluid" --alt {{ product.data.title }} --img loading="lazy"-->
                			<div class="prod-info">
                    			<h4>{{ product.data.title }}</h4>
                    			<h5>${{	product.data.price }}</h5>
                    			<div class="hero-btn" style="margin-top: 0px;">
									<a 
									data-item-id="{{ product.data.identifier }}"
									data-item-price="{{ product.data.price }}"
									data-item-url="/"
									data-item-description="{{ product.templateContent | strip_html }}"
									data-item-image="/assets/images/{{ product.data.image }}.jpg"
									data-item-name="{{ product.data.title }}"
									data-item-custom2-name="Size"
									data-item-custom2-options="Small|Medium|Large|X-Large"
									data-item-shippable="false"
									data-item-taxable="false" 
									href="#0" class="buy-btn snipcart-add-item">ADD TO CART</a>
                				</div>
                			</div>
            			</div>
        			</div>
        			<!--end product single-->
            	{% endunless %}
        	{% endfor %}
		</div>
    </div>
</section>
<!--end product area-->
