.snipcart-modal__container {
    z-index:100;
}
.snipcart-cart-header {
    padding-top: 35px;
}
.snipcart__icon--blue-light path {
    fill: #FFC12C;
}

.snipcart__icon--blue-dark path {
    fill: #FFC12C;
}

.snipcart-cart-header__count {
    color: #FFC12C;
}

.snipcart-cart-header__close-button {
    color: #FFC12C;
}

#cart-desktop, #cart-mobile {
    background-color: transparent;
    display: inline-block;
}

#cart-mobile {
    display: none;
}

.snipcart-discount-box__form {
    border: 1px solid #FFC12C;
}

.snipcart-discount-box__submit {
    color: #FFC12C;
}

.snipcart-cart-summary-fees__discounts-icon path {
    fill: #FFC12C;   
}

.snipcart-form__select:focus {
    border: 1px solid #FFC12C;
}

.snipcart-cart-button--highlight {
    background-image: linear-gradient(90deg,#FFCC56,#FFC12C);
}

.snipcart-item-quantity__button path {
    fill:  #FFC12C;
}
