<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }} - {{ title }}</title>
    
    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">

    <!-- CSS -->
    <link rel="preload" type="text/css" href="/assets/css/bootstrap.min.css" as="style">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="print" onload="this.media='all'">
    <link rel="preload" type="text/css" href="/assets/css/icofont.min.css" as="style">
    <link rel="stylesheet" type="text/css" href="/assets/css/icofont.min.css" media="print" onload="this.media='all'">
    <link rel="preload" type="text/css" href="/assets/css/style.css" as="style">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="print" onload="this.media='all'">
    <link rel="preload" type="text/css" href="/assets/css/responsive.css" as="style">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" media="print" onload="this.media='all'">
    
    <!-- Facebook Open Graph Meta -->
    <meta property="og:title" content="{% if site.fb-meta-title != '' %}{{ site.fb-meta-title }}{% else %}{{ title }} | {{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if site.fb-meta-description != '' %}{{ site.fb-meta-description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{% if site.fb-meta-image != '' %}{{ site.fb-meta-image }}{% else %}/assets/images/about-tape.jpg{% endif %}">
    <meta property="og:url" content="{% if site.fb-meta-url != '' %}{{ site.fb-meta-url }}{% else %}{{ site.domain }}{% endif %}"> 

    <!-- Twitter Meta -->
    <meta name="twitter:title" content="{% if site.tw-meta-title != '' %}{{ site.tw-meta-title }}{% else %}{{ title }} | {{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if site.tw-meta-description != '' %}{{ site.tw-meta-description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{% if site.tw-meta-image != '' %}{{ site.tw-meta-image }}{% else %}/assets/images/about-tape.jpg{% endif %}">
    <meta name="twitter:card" content="{% if site.tw-meta-card != '' %}{{ site.tw-meta-card }}{% else %}summary_large_image{% endif %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103782980-5">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-103782980-5');
    </script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
    <!--start header-->
    <header id="header" class="{% if sticky == true %}sticky-forever{% endif %}">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <div class="container">
                    <!--logo-->
                    <a class="logo" href="/"><img loading="lazy" src="/assets/images/logo.svg" alt="logo" /></a>
          
                    <button id="mobile-nav-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"><i class="icofont-navigation-menu"></i></span>
                    </button>
                    <!--navbar links-->
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav ml-auto" id="navbarLinks">
                            <li class="nav-item">
                                <a id="merch-link" class="nav-link" href="/#product-area">Products</a>
                            </li>
                            <li class="nav-item">
                                <a id="faq-link" class="nav-link" href="/#faq-area">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a id="contact-link" class="nav-link" href="/#contact-area">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a id="blog-link" class="nav-link" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a id="affiliate-link" class="nav-link" href="https://92crew-fitness.goaffpro.com/">Affiliate Program</a>
                            </li>
                            <!--
                            <li class="nav-item">
                              <div class="hero-btn" style="display: inline;">
                      	        <a href="#" class="buy-btn" style="padding: 10px 30px;">BUY NOW</a>
                      	      </div>
                            </li>
                            -->
                     
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--end header-->
    {{ content }}
    <!--start footer-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <!--start footer content-->
                <div class="col-lg-12">
                    <div class="footer-cont text-center">
                        <img loading="lazy" src="/assets/images/logo.svg" class="img-fluid" alt="" />
                        <h4>Follow Us</h4>
                        <ul>
                            <li><a href="https://facebook.com/92crewfitness" target="_blank"><i class="icofont-facebook" style="line-height: 45px;"></i></a></li>
                            <li><a href="https://instagram.com/92crewfitness" target="_blank"><i class="icofont-instagram" style="line-height: 45px;"></i></a></li>
                        </ul>
                        <p>&copy; Copyright 2020. All Rights Reserved By <a target="_blank" href="https://92crew.com">92Crew Fitness</a></p>
                    </div>
                </div>
                <!--end footer content-->
            </div>
        </div>
    </footer>
    <!--end footer-->

    <!--main js-->
    <script defer src="/assets/js/custom.js"></script>
</body>
</html>
