---
layout: default
---
<!--start hero area-->
<section id="hero-area"
          style="background-image: url('{{ hero-image }}'); padding-bottom: 80px;"
          class="slider-bg" data-scroll-index="0">
    <div class="slider owl-carousel">
        <!-- start slide single -->
        <div class="slide-single container">
            <div class="row">
                <!--start caption content-->
                <div class="col-md-8 offset-md-2">
                    <div class="caption" style="text-align: center;">
                        <img loading="lazy" src="/assets/images/half-logo.svg" style="display: block; margin: 0 auto; width: 100px;"/>
                        <h1 class="text-white">{{ title }}</h1>
                        <p class="text-white">{{ intro }}</p>
                    </div>
                </div>
                <!--end caption content-->
            </div>
        </div>
        <!-- end slide single -->
    </div>
</section>
<!--end hero area-->
<article style="max-width: 1000px; margin: 50px auto; padding: 0 20px;">
      {{ content }}
</article>

{% include newsletter.html %}

{% include contact.html %}
